/**
 * Main SCSS File
 * Global styles - Variables và mixins đã được tự động inject bởi Vite config
 * sass:color cũng đã được inject từ vite.config.mts
 */

// Reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-sans;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: $gray-900;
  background-color: $gray-50;
}

#app {
  min-height: 100vh;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  color: $gray-900;
}

h1 {
  font-size: $font-size-4xl;
}
h2 {
  font-size: $font-size-3xl;
}
h3 {
  font-size: $font-size-2xl;
}
h4 {
  font-size: $font-size-xl;
}
h5 {
  font-size: $font-size-lg;
}
h6 {
  font-size: $font-size-base;
}

// Links
a {
  color: $primary;
  text-decoration: none;
  @include transition(color);

  &:hover {
    color: color.scale($primary, $lightness: -10%);
  }
}

// Buttons
button {
  @include button-reset;
}
