<section class="demo-section">
  <p>Đây là partial được include vào template!</p>
  <p>
    Bạn có thể include partials ở bất kỳ đâu: <%- typeof include !== 'undefined'
    ? include('partials/header') : '' %>
  </p>
</section>
